[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
ruff = "*"
requests = "*"
tqdm = "*"
matplotlib = "*"
tk = "*"
pyqt5 = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.12"
